<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Haven | <%= title %> </title>
  <link rel="stylesheet" href="/styles.css">
</head>
<div class="title-div">
  <div>
    <h1 class="Site-title">BLOG HAVEN</h1>
    <p class="site-description">This is the home page of my website.</p>
  </div>
  <%- include('nav') %>
</div>